*{
    padding: 0;
    margin: 0;
}

/*清除浮动*/
.clearfix{
    zoom: 1;
}
.clearfix:before , .clearfix:after{
    content: '';
    display: block;
    clear: both;
}


.editor-container{
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
}

.editor-tools{
    padding: 10px;
}

.editor-tool{
    position: relative;
}
.editor-tool , .editor-tool-color{
    float: left;
    width: 5%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid #fff;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
}
.editor-tool:last-child{
    margin-right: 0;
}
.editor-tool:hover{
    border: 1px solid #eee;
    border-radius: 5px;
}
.tool-active{
    background-color: #eee;
    border: 1px solid #eee;
}
.editor-btn , .btn{
    background-color: inherit;
    border: none;
    height: 40px;
    width: 100%;
    cursor: pointer;
}


.editor-tool i , .editor-tool-color i{
    font-size: 30px;
    color: #333;
}

.editor-content{
    padding: 10px;
    height: 500px;
    border-top: 1px solid #eee;
    overflow: auto;
    color: #333;
}

.edit-btn:hover{
    background-color: #eee;
}
.bg{
    width: 15%;
}
.bg .edit-btn{
    float: left;
    width: 25%;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.editor-content ul,ol{
    padding-left: 20px;
}
.tab{
    padding: 0 10px;
}
.tab .tab_nav span{
    padding-bottom: 10px;
    cursor: pointer;
}
.tab .tab_nav span.active{
    border-bottom: 1px solid #333;
}
.tab_content{
    padding: 50px 20px;
    text-align: center;
    display: none;
}

.tab_content i{
    font-size: 80px;
}
.mask{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
}
.mask-wrap{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
}
.modal{
    width: 540px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.modal-title{
    padding: 16px 24px;
    color: rgba(0,0,0,0.65);
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
}
.modal-body{
    padding: 24px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}
.modal-footer{
    padding: 10px 16px;
    background: transparent;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;
}
.modal-footer button{
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0,0,0,0.65);
    background-color: #fff;
}
.modal-footer button:first-child{
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}
.modal-body input{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0,0,0,0.65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
}